{% extends "base.html" %}

{% block main %}

<h1 class="page-header">Add New Property</h1>


<form action="{{ url_for('create') }}" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}

    {% include 'flash_messages.html' %}

    <div class="form-layout">
        <div>
            {{ form.prop_title.label(class="bold")}}
            {{ form.prop_title(class="form-control sizes") }}
        </div>

        <div>
            {{ form.description.label(class="bold") }}
            {{ form.description(class="form-control sizes") }}
        </div>

        <div class="sides">
            <div>
                {{ form.num_rooms.label(class="bold") }}
                {{ form.num_rooms(class="form-control") }}
            </div>

            <div>
                {{ form.num_bathrooms.label(class="space bold") }}
                {{ form.num_bathrooms(class="form-control space") }}
            </div>
        </div>

        <div class="sides">
            <div>
                {{ form.price.label(class="bold")  }}
                {{ form.price(class="form-control") }}
            </div>
            
            
            <div>
                {{ form.prop_type.label (class="space bold")}}
                {{ form.prop_type(class="form-control space size") }}
            </div>
        </div>

        <div>
            {{ form.location.label(class="bold")  }}
            {{ form.location(class="form-control sizes") }}
        </div>

        <div>
            {{ form.photo.label(class="bold")  }}
            {{ form.photo(class="form-control sizes") }}
        </div>


        <button type="submit" name="submit" class="btn btn-primary" id="button1">Add Property</button>
    </div>

</form>
{% endblock %}
